

body {
    margin-top: 100px;
    background-color: #eee !important;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
    width: 100%;
}

#page-wrapper {
    width:99.4%;
    padding:0em 2em !important;
    background-color: #fff;
    height: auto;
 
}
.page-header{
    color:#477DCF;
}
.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }
 #page-wrapper {
        padding: 10px;
        height: auto;
    }
}

.navbar{
    background: #54b4eb !important;
    border: 2px solid #54b4eb !important;
    height: auto;
    min-height:3em;
}
/* Top Navigation */

.search{
    width:20em!important;
   float: left !important;
   margin-top: 0.6em;
}
.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
}


.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #94CEFF;
    text-decoration: none!important;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
    color:#477DCF;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
.side-nav {
        position: fixed;
        top:52px;
        /* left: 225px; */
        width: 225px;
        /* margin-left: -225px; */
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #efefef !important;
        height:65em;
    }

    .side-nav>li>a {
        width: 225px;
        color: #477DCF!important;
    }
    .navbar-header a{
        color:#fff!important;
    }
    
    .navbar-header a:hover{
        color:#fff!important;
        text-decoration: none!important;
           }

    .side-nav li a:hover,
    .side-nav li a:focus,
    .side-nav li .active{
        outline: none;
        color:#fff !important;
        background-color: #94CEFF !important;
        text-decoration: none!important;
        }
}

.side-nav>li>ul {
    padding: 0;
}



.side-nav>li>ul>li>a:hover {
    color: #fff;
    text-decoration: none!important;
    
}


.infobox{
    min-height: 400px;
    background: #fff;
    padding:0.5em;
    width: 100%;
    margin-bottom: 0.1em!important;
}
.dash-tile-2x {
min-height: 100%;
}
.dash-tile {
height: auto;
padding: 0.5em;
background-color: #ECECEC;
width:100%;
margin-bottom:2em;

}
.dash-tile-header {
margin-bottom: 0.2em;
padding: 0 1px 0 2px;
min-height: 38px;
line-height: 45px;
font-weight: 700;
border-bottom: 2px solid #ddd;
background-color: #00B7F1;
}
.dash-tile-header a{
    color: #fff !important;
}



.fa-fw{
    width: 2em !important;
}
.topic{
    background: #e3e3e3 !important;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
/*----------------------------------------TABLE------------------------------------------------*/
 form{
     width: 100%;
 }
 table{
     margin-bottom: 2em;
     background: #fff;
     border:1px solid #eee !important;
 }
 .active th{
     background: #00B7F1!important;
 }
 .active th a{
     color: #fff;
 }
 .table td a{
    text-align: center !important;
 }/*
 #product-table td a{
     color:#555555;
 }

 
  

#product-table td,#product-table th {
    border: 1px solid #D2D2D2;
    padding: 4px 0px 4px 10px;
    width: auto; 
}

*/.select-box ,.shipping-input{
    height:2.2em;
    width:10em;
    line-height: 2em;
    display: inline!important;
    margin-left: 0.3em;
}/*


#product-table	td a:hover	{
	text-decoration: none!important;
        color:#428bca;
	}
#product-table	th{
	height: 40px;
	text-align: left;
        line-height: 40px;
        background-color:#54b4eb !important;
	}
#product-table	th a{
         color: #fff;   
        }
#product-table td	{
	border: 1px solid #d2d2d2;
	padding: 10px 0 10px 10px;
	}
#product-table tr.alternate-row	{
	background: #ececec;
	}*/
        
.i{
            padding:0.2em;
            margin-right: 0.4em !important;
}
.gallery ul li{
    display: inline-block;  
    
}
.gallery ul li{
    width: 50%;
}
.gallery-image{
    width: 40%;
}
.gallery img{
    height:10em;
    width:17.8em;
    border: 2px solid #5cb85c;
    padding:0.2em;
    margin: 0.3em 1em;
}

.select-input{
    width:30em;
}
.form-group{
    margin:2em 1em!important;
}
.form-checkbox{
    display: block;
  width: 3%;
  height: 24px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.size-slider{
    width:25em;
    margin-left:-1em;
}
.action-button{
    margin:0;
    float:left;
}

   
button[type="submit"],[type="reset"]{margin: 0.2em 1em;}
.size{
    border: none;
    width: 3.3em;
    padding: 6px;
}
.btn{
    /* width:3.9em; */
}
.size:hover{
    background: #E6E1E1;
}