/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2014, 3:52:33 PM
    Author     : Shakya
*/
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, 
blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, 
kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul,
li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, 
th, td,article, aside, canvas, details, figcaption, figure,footer, header, 
hgroup, menu, nav, section, summary,time, mark, audio, video 
{    margin:0;    padding:0;    border:0;    outline:0;    font-size:100%;    
     vertical-align:baseline;    background:transparent;}
body {    line-height:1!important;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
section {    display:block;}nav ul {    list-style:none;}blockquote,
q {    quotes:none;}blockquote:before, blockquote:after,q:before,
q:after {    content:'';    content:none;}a {    margin:0;    padding:0;    font-size:100%;    
       vertical-align:baseline;    background:transparent;}
/* change colours to suit your needs */ins {    background-color:#ff9;    color:#000;    text-decoration:none;}
/* change colours to suit your needs */mark {    background-color:#ff9;    color:#000;    font-style:italic;    font-weight:bold;}
del {    text-decoration: line-through;}abbr[title],
dfn[title] {    border-bottom:1px dotted;    cursor:help;}
table {    border-collapse:collapse;    border-spacing:0;}
/* change border colour to suit your needs */
hr {    display:block;    height:1px;    border:0;    border-top:1px solid #cccccc;    margin:1em 0;    padding:0;}
input, select {    vertical-align:middle;}

@font-face {
    
	font-family:"titillium";
	src:url(../fonts/TitilliumWeb-Regular.ttf);
 
}
.wrapper
{
    font-family: titillium;
}
.header
{
 height: 60px;
 width:100%;
 background-color: black;
 }
 .headertext
 {
     
    color:white;
    font-size: 2em;
    padding: 15px 70px;
 }
.navwrapper
{
    color:white;
}
.nav, .navbar, .navbar-inverse,.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>li>a
{
    border-radius: 0px !important;
    height:70px !important;
    font-size: 1.1em !important;
} 

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav li>a
{
    width:200px;
   text-align: center;
   padding:12% 0;
}
.second
{
    height:450px;
    margin-top: 180px;
 }
 .sidebar>ul>li>a
 {
      color:white !important;
      
 }
 .sidebar>ul>li>a:hover
 {
      color:black !important;
 }
 
 .sidebar>ul
{
    
    background-color: black;
    height:400px !important;
  
}
.menu{
    
    float:left;
}
