
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite,
code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas,
details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio,
video {    margin:0;    padding:0;    border:0;    outline:0;    font-size:100%;   
           vertical-align:baseline;    background:transparent;}
body {    line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {    display:block;}
nav ul {    list-style:none;}
blockquote, q {    quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {    content:'';    content:none;}
a {    margin:0;    padding:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}
/* change colours to suit your needs */
ins {    background-color:#ff9;    color:#000;    text-decoration:none;}
/* change colours to suit your needs */
mark {    background-color:#ff9;    color:#000;
                                                                                                                                                                                                        font-style:italic;    font-weight:bold;}
del {    text-decoration: line-through;}abbr[title], dfn[title] {    border-bottom:1px dotted;    cursor:help;}
table {    border-collapse:collapse;    border-spacing:0;}
/* change border colour to suit your needs */
hr {    display:block;    height:1px;    border:0;    border-top:1px solid #cccccc;    margin:1em 0;    padding:0;}
input, select {    vertical-align:middle;}

/*LocalStyle*/
body{
    background-color: #eea236;
}


#maincontent{
    width: 100%;
    margin: 0.5em auto;
    background: #fff;
    border: 0.1em solid #31b0d5;
    padding: 0.5em;
}
.container{
    width: 100% !important;
}
/*----------------------------header-----------------------------------------------------------*/
.header{
     background: url('../images/header1.jpg');
     height: 20%;
     max-height: 30%;
     margin: 0em auto;
     width: auto;
     
}

.search{
    float:right !important;
    width: 13em !important;
    height: 1.7em !important;
    margin-top: 0.5em;
}
.inputt{
    height:1.7em !important;
}
button{
    height:1.7em;
    width: 2em;
}
.search img{
    height: 2.2em !important;
    margin:-10px -50px;
   
}
.left-img{
    width: auto;
    float: left;
}

.right-img{
    margin-top: 2em;
}
.right-one{
    float:right !important;
    width:32em !important;
    display: inline !important;
    margin-top: 5%;
    margin-right: -13em;
     height: 2em;
        
}
.right-one img{
    float:right;
}

.im_admin,.im_log,.im_set{
    display: inline;
  
    float: left;
}

.im_admin a ,.im_log a ,.im_set a{
    margin-top: 0.2em;
     color:#fff;
    float: left;
}
a :hover{
    color: #eee !important;
    text-decoration: none !important;
}
#menu{
        /* border-top:  0.1em solid #31b0d5; */
         
        height: auto;
         
        height: auto;
        background:#AFD7EE;
         
        margin:0em auto ;
         
        width: 100%;
     }
#menu a{
         color:#efefef;
     }
#top_buttons{
    margin: 0em 6em;
    height: auto;
    
}
#down_buttons{
    margin: 0.5em 14.3em;
    height: auto;
    
}
.btn-style{
     height:3em;
    margin:0.3em 0.5em;
    width:8em;
    background: url('../images/button.jpg')!important;
    border-radius: 0.5em;
}
.current{
     background:url('../images/button.jpg')!important;
     border: 1px solid buttonhighlight;
}
/*------------------------------------------------body--------------------------------------------------*/
#main_container{
   width: 73%;
   height:auto;
    background: #fff;
    margin:0 auto;
    border-bottom: 0.1em solid #31b0d5;
    border-top: 0.1em solid #31b0d5;
}
#maincontent{
    width: 100%;
    height: auto;
}
/*-----------------------------------------------table--------------------------------------------------------*/
#infobox {
width: 400px;
float: left;
margin: 2em;
border:1px solid #e8e7e1;
}

#infobox h2 {
background: #f7f6f0;
border-bottom: 1px solid #e8e7e1;
color: #a43708;
padding: 10px;
font-size: 19px;
margin-top: 0;
}
table{
	margin:5px;
	table-layout:automatic;
	width:98%;
}

td, th {
    border: 1px solid #e8e7e1;
    padding: 2px;
    
}
th{
    background-color: #f7f6f0;
}


 /*---------------------------------------------footer----------------------------------------------------------*/
.footer{
    background: url('../images/header.jpg');
     
    height: auto;
     margin: 0em auto;
     
    padding: 1em;
    border-right: 0.1em solid #31b0d5;
    border-left: 0.1em solid #31b0d5;
}
.footer span{
   margin: 0em 20em ;
}
