/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 9, 2014, 2:25:19 AM
    Author     : Radhika
*/
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, 
blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, 
kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul,
li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, 
th, td,article, aside, canvas, details, figcaption, figure,footer, header, 
hgroup, menu, nav, section, summary,time, mark, audio, video 
{    margin:0;    padding:0;    border:0;    outline:0;    font-size:100%;    
     vertical-align:baseline;    background:transparent;}
body {    line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
section {    display:block;}nav ul {    list-style:none;}blockquote,
q {    quotes:none;}blockquote:before, blockquote:after,q:before,
q:after {    content:'';    content:none;}a {    margin:0;    padding:0;    font-size:100%;    
       vertical-align:baseline;    background:transparent;}
/* change colours to suit your needs */ins {    background-color:#ff9;    color:#000;    text-decoration:none;}
/* change colours to suit your needs */mark {    background-color:#ff9;    color:#000;    font-style:italic;    font-weight:bold;}
del {    text-decoration: line-through;}abbr[title],
dfn[title] {    border-bottom:1px dotted;    cursor:help;}
table {    border-collapse:collapse;    border-spacing:0;}
/* change border colour to suit your needs */
hr {    display:block;    height:1px;    border:0;    border-top:1px solid #cccccc;    margin:1em 0;    padding:0;}
input, select {    vertical-align:middle;}
/*LocalStyle*/
@font-face {
    
	font-family:"roboto";
	src:url(../fonts/RobotoCondensed-Regular.ttf);
 
}
#topNavigation{
    width: 100%;
    min-height: 50px;
    background: #080808;
}
.container
{
    width:90%!important;
    font-family: roboto;
}
#second{
    min-height: 200px;
    padding: 2em 0em;
}
#sidebar{

min-width:270px;
}
.sidebarlist
{
   
    width: 100%;
    background-color: black;
    min-height:330px;
    color:white;
    list-style: none;
    color:gray;
}
#sidebar_heading
{
    font-size: 2em;
    float:left;
    color:white;
    margin-left: 10%;
    margin-top:5%;
       
  
}
#sidebar_heading_group
{
   background-color: black;
   width: auto;
   min-height:70px;
}
#sidebar_heading_pic
{
    height:50px;
    width:50px;
    float:left;
    margin-top:5%;
    margin-left:10%;
 }
.sidebarlist li
{
    font-size: 1.2em;
    min-width: 50px;
    min-height: 55px;
    height:auto;
    transition:background-color 0.5s ease-out;
    text-decoration: none;
    color:white;
    border-top: solid 1px gray;
    text-align: center;
    width:94%;
    margin-left:3%;
}
.sidebarlist li a
{
    text-decoration: none;
    color:white;
    
}
.sidebarlist li:hover
{
    background-color: orange;
/*    width:100%;
    margin-left: 0%;*/
}




.box{
    width: 100%;
    border: 1px solid black;
    min-height: 100px;
}
#third{
    width: 100%;
    min-height: 300px;
    color:orange;
 }
 #third hr
 {
width:100%;
min-height: 5px;
color:orange;
 }
.advertisement{
    width: 100%;
    min-height: 50px;
}
.contentLeft{
    background: #ff9;
    min-height: 300px;
    width: 100%;
}
.contentRight{
    background: #cccccc;
    min-height: 300px;
    width: 100%;
}